@model DATN_ASP.Models.TacGiaSanPham

@{
    ViewData["Title"] = "Edit";
}
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h1>Edit</h1>

<h4>TacGiaSanPham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SanPhamId" class="control-label"></label>
                <select asp-for="SanPhamId" class="form-control" asp-items="ViewBag.SanPhamId"></select>
                <span asp-validation-for="SanPhamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TacGiaId" class="control-label"></label>
                <select asp-for="TacGiaId" class="form-control" asp-items="ViewBag.TacGiaId"></select>
                <span asp-validation-for="TacGiaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

