@model DATN_ASP.Models.SanPham

@{
    ViewData["Title"] = "Create";
}
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h1>Create</h1>

<h4>SanPham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AnhDaiDien" class="control-label"></label>
                <input asp-for="AnhDaiDien" class="form-control" />
                <span asp-validation-for="AnhDaiDien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HinhAnhId" class="control-label"></label>
                <select asp-for="HinhAnhId" class="form-control" asp-items="ViewBag.HinhAnhId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaSP" class="control-label"></label>
                <input asp-for="MaSP" class="form-control" />
                <span asp-validation-for="MaSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSP" class="control-label"></label>
                <input asp-for="TenSP" class="form-control" />
                <span asp-validation-for="TenSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonGia" class="control-label"></label>
                <input asp-for="DonGia" class="form-control" />
                <span asp-validation-for="DonGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuong" class="control-label"></label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DanhMucId" class="control-label"></label>
                <select asp-for="DanhMucId" class="form-control" asp-items="ViewBag.DanhMucId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TacGiaId" class="control-label"></label>
                <input asp-for="TacGiaId" class="form-control" />
                <span asp-validation-for="TacGiaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NhaXuatBanId" class="control-label"></label>
                <select asp-for="NhaXuatBanId" class="form-control" asp-items="ViewBag.NhaXuatBanId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NgayXuatBan" class="control-label"></label>
                <input asp-for="NgayXuatBan" class="form-control" />
                <span asp-validation-for="NgayXuatBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhuyenMaiId" class="control-label"></label>
                <select asp-for="KhuyenMaiId" class="form-control" asp-items="ViewBag.KhuyenMaiId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GiamGia" class="control-label"></label>
                <input asp-for="GiamGia" class="form-control" />
                <span asp-validation-for="GiamGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayLap" class="control-label"></label>
                <input asp-for="NgayLap" class="form-control" />
                <span asp-validation-for="NgayLap" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrangThai" /> @Html.DisplayNameFor(model => model.TrangThai)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

